<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/images/logo-unlar.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creciendo Juntxs - Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

    <div class="login-container">
        <div class="brand-header">
            <a href="https://www.unlar.edu.ar/" target="_blank" rel="noopener noreferrer">
                <img th:src="@{/images/logo-unlar.png}" alt="Logo UNLaR" class="logo-img">
            </a>
            <a th:href="@{/home}">
                <h1 class="project-text-logo">Creciendo Juntxs</h1>
                <p class="navbar-subtitle">Guardería - UNLaR</p>
            </a>
        </div>

        <div class="error-msg" th:if="${param.error}">Usuario o contraseña incorrectos.</div>
        <div class="success-msg" th:if="${param.logout}">Has cerrado sesión correctamente.</div>

        <form th:action="@{/login}" method="POST">
            <div class="form-group">
                <label for="username">Correo Electrónico:</label>
                <input type="email" id="username" name="username" required placeholder="ejemplo@unlar.edu.ar">
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required placeholder="******">
            </div>
            <button type="submit">🔑 Iniciar Sesión</button>
        </form>
        <a href="/usuarios/recuperar"class="link-recuperar">¿Olvidaste tu contraseña? Restablecer por DNI</a>
    </div>

</body>

</html>